body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: #00FF00; /* Matrix green color */
    margin: 0;
    padding: 20px;
}

#matrixCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

a {
    color: #00FF00;
    text-decoration: none;
    border: 1px solid #00FF00;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    transition: background 0.3s;
}

a:hover {
    background: #00FF00;
    color: black;
}

section {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #00FF00; /* Matrix green border */
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.back-to-home {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.pill-icon {
    width: 40px;
    height: 20px;
    background-color: blue;
    border-radius: 10px;
    transition: transform 0.3s;
}

.back-text {
    display: none;
    margin-left: 10px;
    color: #00FF00;
    font-size: 16px;
    transition: opacity 0.3s;
}

.back-to-home:hover .pill-icon {
    transform: scaleX(0.5); /* Break animation */
}

.back-to-home:hover .back-text {
    display: inline;
}
